.navbar{
    z-index: 1;
    background-color: teal;
}
h1,h2,h3,h4,p,a{
    font-family: "Orbitron", sans-serif;
}
.card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}